$font-stack: Helvetica, sans-serif;
$primary-color: black;

body {
    color: $primary-color;
    // background-color: darkorchid;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { display: inline-block; }

    a {
        color: pink;
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}