@import 'base';

.one {
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    color: white;
    font-size: large;
    img {
        padding: 12px;
    }
    div {
        padding: 12px;
        align-items: center;
        background-color: pink;
        color: white;
        font-size: small;
    }
}