@import 'base';

div {
    display: flex;
    justify-content: space-between;
    background-color: salmon;
    color: pink;
    font-size: large;
    div {
        align-items: center;
        background-color: pink;
        color: white;
        font-size: small;
    }
}